astropy>=6.1.0
numpy>=1.26.0
pyyaml>=6.0.2
scipy>=1.12.0
requests>=2.25
spiceypy>=6.0.0
unlzw3>=0.2.2
ply>=3.11
multidict>=6.1.0
matplotlib>=3.9.0
pytest
sphinx
numpydoc
sphinx_design
pydata-sphinx-theme
sphinx-favicon
sphinx-autoapi
sphinx-design
